.app-download{
    margin: auto auto;
    margin-top: 100px;
    font-size: max(3vw,20px);
    text-align: center;
    font-weight: 500;
}

.app-download-platforms{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
}

.download-image{
    width: max(30vw,120px);
    max-width: 180px;
    transition: 0.5s;
    cursor: pointer;

}

.download-image:hover{
    transform: scale(1.05);
}

.download-image2{
    width: max(20vw 100px);
    max-width: 165px;
}